@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  
  --primary-bg: 10,50,40;
  --primary-text: 210,250,210;

  --secondary-bg: 10,50,40;
  --secondary-text: 210,250,210;
  /* --secondary-bg: 10, 50, 40;
  --secondary-text: 100,200,160; */

  /* components */
  /* dropdowns */
  /* --dropdown-bg: 10, 50, 40;
  --dropdown-text: 240,240,10; */
  --dropdown-bg: 250,255,255;
  --dropdown-text: 10,50,40;
  --dropdown-tray-bg: 230,250,240;

  --button-bg: 10,160,60;
  --button-text: 255,255,250;
  --button-bg-hover: 10,100,60;

  --button-danger-bg: 240,240,10;
  --button-danger-text: 51,51,0;
  --button-danger-bg-hover: 255,255,0;

}

.dark {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --primary-bg: 0, 10, 0;
  --primary-text: 200,240,220;

  --secondary-bg: 5, 10, 5;
  --secondary-text: 250,250,250;

  --dropdown-bg: 10, 30, 20;
  --dropdown-text: 100,200,160;
  --dropdown-tray-bg: 5, 20, 10;

  --button-bg: 10, 50, 40;
  --button-text: 255,255,100;
  --button-bg-hover: 10, 60, 20;

  --button-danger-bg: 240,240,10;
  --button-danger-text: 51,51,0;
  --button-danger-bg-hover: 255,255,0;

}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    /* text-wrap: balance; */
  }
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: rgb(var(--primary-bg)); */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(var(--button-danger-bg));
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--primary-bg));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
