@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  
  --primary-bg: 105,143,63;
  --secondary-bg: 10,18,42;

  --primary-text: 206,237,219;
  --secondary-text: 251,250,248;

  /* components */
  /* dropdowns */
  --dropdown-bg: 20, 20, 20;
  --dropdown-text: 100,237,219;

}

.dark {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --primary-bg: 0, 8, 0;
  --secondary-bg: 1, 2, 8;

  --primary-text: 206,237,219;
  --secondary-text: 251,250,248;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    /* text-wrap: balance; */
  }
}
