@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  
  --primary-bg: 10,80,40;
  --primary-text: 200,240,220;

  --secondary-bg: 210,250,210;
  --secondary-text: 60,100,60;
  /* --secondary-bg: 10, 50, 40;
  --secondary-text: 100,200,160; */

  /* components */
  /* dropdowns */
  --dropdown-bg: 10, 50, 40;
  --dropdown-text: 100,200,160;

}

.dark {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --primary-bg: 0, 10, 0;
  --primary-text: 200,240,220;

  --secondary-bg: 5, 10, 5;
  --secondary-text: 250,250,250;

  --dropdown-bg: 10, 30, 20;
  --dropdown-text: 100,200,160;
  /* --dropdown-text: 100,240,220; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    /* text-wrap: balance; */
  }
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: rgb(var(--primary-bg)); */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(var(--primary-text));
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--primary-bg));
}
